{% load i18n %}{% autoescape off %}
{% trans "Before you can use your new password, YOU MUST ACTIVATE IT. To do so, please follow this link:" %}

    {{ url }}

{% trans "If the activation is successful, you will be able to log in using the following password:" %}

{% trans "----------------------------" %}
    {% blocktrans  %}Email: {{ email }}{% endblocktrans %}
    {% blocktrans  %}Password: {{ password }}{% endblocktrans %}
{% trans "----------------------------" %}

{% trans "This link will expire in 10 minutes." %}

{% trans "Thanks for using our site!" %}

{% endautoescape %}